* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -125px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 25px;
}

.main-heading {
    margin:20px;
    font-weight: bold;
    font-size: xx-large;
    color:rgb(24,25,69);
}

.main-sub-heading {
    font-weight: lighter;
    color: rgb(115,117,143);
    text-wrap: wrap;
    width: 500px;
    margin-left: 25px;
}

.contact-button {
    font-size: large;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 12px;
    padding: 12px;
    background-color: rgb(88,63,188);
    border: transparent;
    color: white;
}

.contact-button:hover {
    background-color: white;
    color: rgb(88,63,188);
    border: 1px solid rgb(88,63,188);
}

.container-2 {
    display: flex;
    position: relative;
    margin: 200px;
}

.card-1 {
    margin-right: 25px;
}
.card-2 {
    margin-right: auto;
    margin-top: 50px;
}