* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container-new {
    display: flex;
    flex-direction: column;
}

.container-1-new {
    background-color: rgb(218,240,250);
    height: 500px;
    width: auto;
    border-radius: 50px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.main-heading-new {
    margin-top: -15%;
    font-size: x-large;
}
.sub-heading-new {
    margin-top: -15%;
    margin-left: 460px;
    width: 400px;
}

.container-2-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253,253,253);
    padding: 50px;
    width: 800px;
    margin-left: 360px;
    margin-top: -15%;
    border-radius: 25px;
}

.sub-container-1-new {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:100px;
}

h3 {
    margin-bottom: 10px;
}
.inp {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.sub-container-2-new {
    display: flex;
    gap:30px;
    padding: 50px;
    text-align: left;
}

.contact-button-new {
    color: white;
    padding: 18px;
    background-color: rgb(88,63,188);
    border: rgb(88,63,188);
    border-radius: 15px;
}

.contact-button-new:hover {
    color:rgb(88,63,188);
    background-color: white;
    border: 1px solid rgb(88,63,188);
}