* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
   
  }
  .Home{
    margin: 50px;
  }
  .calling-logo{
    background: #ffffff;
    padding: 4px;
    border-radius: 10px;
  }

  .Hero-section{
    background: #9bd7f7;
    
    padding: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:screen;
  }

  .Hero-section-1  h1{
    font-size: 70px; padding: 0; margin: 0;
  }
  .Hero-section-1{
    width: 700px;
  }

  .nav-button{
    width: fit-content;
  background: #ffffff;
   padding: 15px;
   font-family:'Times New Roman', Times, serif;
   font-size: large;
    border: none;
    font-weight: 700;
    border-radius: 20px;
  }
  .nav-button:hover{
    background: purple;
    color: white;
  }
  .description{
    font-size: large;
    padding-bottom: 30px;
  }
  .hero-section-1-div{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .emergency-text{
    font-size: large;
    font-weight: 700;
    color: purple;
  }
  .phone-number{
    font-size: large;
    font-weight: bold;
  }

  .Services{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .Services h4{
    color: purple; font-size: larger;
  }
  .Services h1{
    font-size: 50px;
  }
  .Services-section-1{
    padding: 20px;
  }
  .Services-section-2{
    color:rgb(127, 126, 126);
    font-size: larger;
    width: 50%;
    padding: 20px;
  }

  .Information{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  
  